/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 2, 2021, 1:12:22 PM
    Author     : Pythagoras
*/

.left-side-background{
    -fx-background-color: #01BED2;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}